//Hex Codes for our custom pallet 

$my-orange: #ff865b; //Main Buttons
$my-grey: #1b262c; //Background
$my-lightgrey: #94a0a9;
$my-midgrey: #121c22;
$my-darkgrey: #091319;
$my-blue: #89e0eb;
$my-green: #addfad;
$my-yellow: #f1c892;
$my-purple: #b387fa;