:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.navbar-item img {
  max-height: none !important; /* remove Bulma's limit */
}

.button.is-my-orange {
  background-color: #ff865b;
  border-color: #ff865b;
  color: white;
  height: 3.5rem;          /* desired button height */
  padding-left: 1.5rem;    /* keep horizontal spacing */
  padding-right: 1.5rem;
  
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.button.is-my-orange:hover {
  background-color: #e6764e; /* slightly darker on hover */
  border-color: #e6764e;
  color: white;
}

/* body {
  margin: 0;
  display: flex;
  justify-content: center;   center left/right
  align-items: center;       center top/bottom */
  /* min-width: 320px;
  min-height: 100vh;
  background-color: gray; 
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input-underline {
  background-color: transparent; /* remove the box */
  border: none;                  /* remove borders */
  border-bottom: 2px solid #ccc; /* add underline */
  border-radius: 0;              /* remove rounded corners */
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: white; 
  font-size: 1.2rem;  
  transition: border-color 0.2s;
}

.input-underline:focus {
  outline: none;
  border-bottom-color: #ff865b; /* change underline color on focus */
}

.form-label {
  display: block;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 500;
}